langchain
langchain-ollama
langchain-chroma
langchain-anthropic
langchain-text-splitters
pandas
langchain-community
unstructured[md]
python-dotenv
pypdf
docx2txt
beautifulsoup4
ragas
datasets
streamlit
protobuf>=3.20.0,<4.0.0